.a-sec{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;

    height: 400px;
    border: 2px solid red;
    max-width: 300px ;
    margin: auto;
}
.a-img{
    background-size: cover ;
    width: 100%;
}
